*{
    margin: 0;
    padding: 0;
}

body {
  background-color: rgb(13, 4, 51);
  
}



.text {
  font-family: "Poppins", sans-serif;
  margin-top: 150px;
  margin-left: 800px;
  margin-right: 200px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.text2{
  font-family: "Poppins", sans-serif;
  margin-left: 200px;
  margin-right: 800px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.text3 {
  font-family: "Poppins", sans-serif;
  margin-left: 800px;
  margin-right: 200px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.text4{
  font-family: "Poppins", sans-serif;
  margin-left: 200px;
  margin-right: 800px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.text5{
  font-family: "Poppins", sans-serif;
  margin-left: 800px;
  margin-right: 200px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.text6{
  font-family: "Poppins", sans-serif;
  margin-left: 200px;
  margin-right: 800px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}


nav {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.801);
}
nav p {
  font-family: arial;
  color: rgba(255, 255, 255, 0.842);
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}


nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
    
  display: block;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.842);
  font-size: 14px;
  padding: 19px 22px;
  text-decoration: none;
}
nav ul li a:hover {
    
  color: whitesmoke;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 120px;

}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: rgb(114, 113, 113);
  border-radius: 2px 2px 2px 2px;
}

.first{
  font-family: "Poppins", sans-serif;
  margin: 10vh;
  text-align: center;
}

.pro{
  font-family: "Poppins", sans-serif;
  margin: 10vh;
  text-align: center;
}
.jobs{
  font-family: "Poppins", sans-serif;
  margin: 10vh;
  text-align: center;
}
.int{
  font-family: "Poppins", sans-serif;
  margin: 10vh;
  text-align: center;
}
.psyh{
  font-family: "Poppins", sans-serif;
  margin: 10vh;
  text-align: center;
}
.tools{
  font-family: "Poppins", sans-serif;
  margin: 10vh;
  text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
